# Node.js
**/*.js
**/node_modules
*.map
# .eslintcache
!ewm.config.js
!rollup.config.js
!.eslintrc.js
!.prettierrc.js
!commitlint.config.js
# !miniprogram_npm/**/*.js
dist
project.private.config.json
!jest.config.js
!eslint.config.js